
@{
    ViewBag.Title = "Details";
}

<h2>Restaurant Details</h2>

<div class="container">
    <div>
        <h3> Id : @ViewBag.resDetails.RId</h3>
    </div>

    <div>
        <h3>  Name : @ViewBag.resDetails.RName</h3>
    </div>

    <div>
        <h3> Cuisine : @ViewBag.resDetails.CuisineDish</h3>
    </div>

    <div>
        <a class="btn btn-danger" href="/Hotel/Index">Back</a>
    </div>

</div>

