
@model IEnumerable<RestaurantWork9Feb.Models.RestaurantApp>
<h2>Restaurant Pic</h2>
    <img src="https://www.paradisefoodcourt.in/images/gallery/restaurants/gachibowli/4.jpg" alt="Paradise" width="400" height="300">
    <h3 class="center-block"> PARADISE</h3>

    <img src="https://b.zmtcdn.com/data/pictures/2/90012/b61192a56277d74705d6e80f88492934.jpg" alt="Paradise" width="400" height="300">
    <h3 class="center-block"> CHUTNEYS</h3>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLDWdRcXsoKcHDBzZj1IYLxmTbUsncpfEpZQ&usqp=CAU" alt="Paradise" width="400" height="300">
    <h3 class="center-block"> BAHAR CAFE</h3>

    <img src="https://www.dineout.co.in/blog/wp-content/uploads/2019/12/ab.jpg" alt="Paradise" width="400" height="300">
    <h3 class="center-block"> ABs</h3>

    <img src=http://rmdk.in/wp-content/uploads/2018/03/RMDK_Almond-House_02.jpg" alt="Paradise" width="500" height="300">
    <h3 class="center-block"> ALMOND HOUSE</h3>



@*<img src="https://www.paradisefoodcourt.in/images/gallery/restaurants/gachibowli/4.jpg" alt="Paradise" width="500" height="400">
@foreach (var v in Model)
{
    <ul>
        <li>
            <a href="/Hotel/Image/@v.RId">
                @v.RName
            </a>
        </li>
    </ul>
}*@